body{
    background-color: #406030;
}
.box{
    height: 300px;
    width: 300px;
    background-color: #FFF;

    /* text-align: justify; */
    /*  text-align :   left, right, center, justify    */

    /* text-decoration: line-through; */
    /* text-decoration: underline, overline, line-through; */

    /* text-transform: capitalize; */
    /* text-transform: uppercase, lowercase, capitalize; */

    /* text-indent: 50px; */
    /* line-height: 20px; */
    /* word-spacing: 10px; */
    /* letter-spacing: 5px; */

    /* font-family: Helvetica; */
    font-style: italic;
    font-weight: bold;

    font-size: 12px;



}

.bg-color{
    background-color: red;
}