body{
    margin: 0;
    padding: 0;
    font-family: Helvetica;
    background-color: #cfd0d3;
}
.social{
    background-color: #3C3C3C;
    width: 100%;
    height: 60px;
}
.navbar{
    background-color: #343434;
    width: 100%;
    height: 45px;
}
.header{
    background-color: #252525;
    width: 100%;
    height: 40px;
}
.slider{
    /* background-color: red; */
    width: 100%;
    height: 300px;
    background-image: url("https://rukminim2.flixcart.com/fk-p-flap/1600/270/image/9384b37a848c5e60.jpg?q=20");
    background-size: 100% 100%;
}
.content{
    
    width: 100%;
    min-height: 700px;
    margin: 10px 0;
    
}
.top-footer{
    background-color: #343434;
    width: 100%;
    height: 250px;
}
.footer{
    background-color: #000;
    width: 100%;
    height: 60px;
}
.wrapper{
    width: 970px;
    margin: 0 auto;
}
.social-nav{
    height: 60px;
    width: 500px;
    float: right;
    /* background-color: red; */
}
/* specifc selector */
.social-nav ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.social-nav ul li{
    float: right;
}
.social-nav ul li a{
    text-decoration: none;
    color : #fff;
    display: inline-block;
    background-color: #252525;
    border-radius: 20px;
    padding: 10px;
    margin: 12px 5px;
}
.social-nav ul li a:hover{
    color: #000;
    background-color: #fff;
}

.navbar ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.navbar ul li{
    float: left;
}
.navbar ul li a{
    color : #fff;
    text-decoration: none;
    display: inline-block;
    margin: 0px 5px;

    padding: 13px 20px;
}
.navbar ul li a:hover{
    background-color: red;
}
.header p{
    margin: 0;
    padding: 10px 25px;
    color: #fff;
}
.content-left{
    width: 245px;
    min-height: 700px;
    background-color: blue;
    float: left;
    margin-right: 5px;
}
.feature{
    height: 280px;
    width: 100%;
    background-color: #fff;
}
.feature h4{
    border-radius: 5px 5px 0 0;
    background-color: #DD0C09;
    color: #fff;
    padding: 10px 15px;
    text-transform: uppercase;
    font-size: 20px;
    margin: 0;
}
.content-right{
    float: left;
    width: 715px;
    min-height: 700px;
    margin-left: 5px;
    background-color: green;
}

