body{
    background-color: #90898d;
<<<<<<< HEAD
    margin:0;
    padding:0;
    font-family:  Helvetica;

=======
    margin: 0;
    padding: 0;
    font-family: Helvetica;
>>>>>>> 9aeefb9813af974791e8766776e9d60f05590e14
}
.header{
    height: 120px;
    width: 100%;
    background-color: #1d4eb8;
}
.menu{
    height: 60px;
<<<<<<< HEAD
    width:100%;
    background-color: black;
=======
    width: 100%;
    background-color: #000;
>>>>>>> 9aeefb9813af974791e8766776e9d60f05590e14
}
.content{
    height: 800px;
    width: 100%;
    
}
.footer{
    height: 250px;
    width: 100%;
    background-color: #1d4eb8;
}
.wrapper{
    width: 970px;
    
    margin: 0 auto;
<<<<<<< HEAD
=======
}
.logo{
    height: 120px;
    width: 250px;
    background-color: #fff;
    float: left;
}
.login-menu{
    float: right;
    height: 50px;
    width: 200px;
    background-color: #FFF;
    border-radius: 0px 0px 10px 10px;
    box-shadow: 5px 5px 5px #000;
>>>>>>> 9aeefb9813af974791e8766776e9d60f05590e14
}